body {
    display: flex;
    background-color: rgb(216, 226, 226);
    gap: 10px;
    }
    .article-img {
        width: 200px;
        height: 200px;
        background: blue;
    }
        .article-details {
            width: 300px;
            padding: 0px 30px;
        }

    .article-header {
        display: flex;
        justify-content: start;
        align-items: baseline;

    }
    .article-header {
        display: flex;
        justify-content: start;
        align-items: baseline;
    }
    .date {
        padding: 10px;
        background:lightblue;
        border-radius: 12px;
        margin-right: 20px;
    }
        .date-month {
            margin: 0;
        }

    .date-day {
        font-size: 20px;
        margin: 0;
    }
    ul {
        list-style: none;
       margin-bottom: 20px;

    }
    
    #groups {
        width: fit-content;
    }

    #friends-stories {
        display: flex;
        justify-content:space-between;
        margin-bottom: 20px;
    }
    #story {
        flex-basis: auto;
        position: relative;
        background-position: center;
    }
    .story-img-wrapper{
        display: block;
        clip-path: circle(400);
        
    
    }
